---
import Project from './Project.astro'

const projects = [
    {
        id: "crisp",
        name: "Crisp",
        href: "https://devpost.com/software/crisp-2t1rvj",
        github: "https://github.com/plamorg/crisp",
        desc: "A MIDI controller built with a can of crisps.",
        image: "/projects/crisp-cropped.webp",
    }, 
    {
        id: "dovermun",
        name: "DOVERMUN Webapp",
        href: "https://dovermun-webapp.web.app",
        desc: "An online platform for Model United Nations Conferences, used by over 650 users.",
        image: "/projects/dovermun.webp",
    },
    { 
        id: "beeline",
        name: "Beeline",
        href: "https://claby2.itch.io/beeline",
        github: "https://github.com/plamorg/beeline",
        desc: "An action-packed game where you play as a missile-dodging, laser-evading, upgradeable bumbly bee.",
        image: "/projects/beeline.webp",
    },
    {
        id: "ufds-training",
        name: "UFDS Training",
        href: "https://training.ufds.cc",
        desc: "A training and learning platform used for competitive programming, used by over 800 users.",
        image: "/projects/ufds-training-2.webp",
    },
    {
        id: "padblocker",
        name: "padblocker",
        href: "https://devpost.com/software/padblocker",
        github: "https://github.com/plamorg/padblocker",
        desc: "A physical adblocker for your laptop.",
        image: "/projects/padblocker.webp",
    },
    {
        id: "minusplus",
        name: "minusplus",
        href: "https://devpost.com/software/minusplus",
        github: "https://github.com/plamorg/minusplus",
        desc: "A multiplayer game in a 300-dimensional vector space, where you use your knowledge of word context to do math with words.",
        image: "/projects/minusplus-3.webp",
    },
    {
        id: "ghcoin",
        name: "ghcoin",
        href: "https://devpost.com/software/ghcoin",
        github: "https://github.com/plamorg/ghcoin",
        desc: "A totally practical currency built on top of GitHub Actions.",
        image: "/projects/ghcoin.webp",
    },
    {
        id: "viewfinder",
        name: "Viewfinder",
        href: "https://devpost.com/software/viewfinder-9nhc8z",
        github: "https://github.com/plamorg/viewfinder",
        desc: "A browser extension that aims to bring differing views into an understanding and create an open mind for individuals.",
        image: "/projects/viewfinder.webp",
    },
]
---

<div class="grid grid-cols-1 md:grid-cols-2 max-w-7xl">
    {projects.map(p => 
        <Project
            href={p.href} 
            id={p.id} 
            name={p.name} 
            image={p.image}
        > 
            {p.desc} 
        </Project> 
     )}
</div>
